<div ng-controller="LoginController">
	<h1 class="text-center">Login</h1>
	<form class="col-md-offset-4 col-md-4" name="loginForm" ng-controller="LoginController" ng-submit="login(user)" novalidate>

		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-user text-muted"></i>
				</span>
				<input type="text" class="form-control" id="username" ng-model="user.username" required>
			</div>
		</div>

		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-asterisk text-muted"></i>
				</span>
				<input type="password" class="form-control" id="password" ng-model="user.password" required>
			</div>
		</div>
		<div class="text-center form-group">
			<button type="submit" class="btn btn-success btn-block">Login</button>
		</div>
		<div class="text-center form-group">
			<a class="btn btn-primary btn-block" href="#/register">Register</a>
		</div>

	</form>
</div>