body {
    overflow-x: hidden;
    margin-top: 105px;
}

.img-home {
	float: left;
	width: 190px;
}

.date {
	margin-top: -18px;
}

.ad-info {
	margin-left: 200px;
}

.reg-town{
	margin-bottom: 17px;
}