body {
    overflow-x: hidden;
    margin-top: 105px;
}

.img-home {
	float: left;
	width: 190px;
}

.date {
	margin-top: -18px;
}

.ad-info {
	float: left;
	margin-left: 10px;
	width: 480px;
}

.ad-button {
	float:left;
	margin-left: 28px;
	
}

.reg-town{
	margin-bottom: 17px;
}