<div ng-controller="UserAdController">
	<h1 class="text-center">My Ads</h1>
	<div class="col-md-2">
		<div class="list-group">
			<a class="list-group-item" ng-click="status()">All</a>
			<a class="list-group-item" ng-click="status(2)">Published</a>
			<a class="list-group-item" ng-click="status(1)">Waiting Approval</a>
			<a class="list-group-item" ng-click="status(0)">Inactive</a>
			<a class="list-group-item" ng-click="status(3)">Rejected</a>
		</div>
	</div>
	<div  class="col-md-8">
		<div ng-if="ads.ads.length==0" class="box no-data">
		    No ads found.
		</div>
		<div ng-repeat="ad in ads.ads">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">{{ad.title}}</h3>
					<p class="pull-right date">{{ad.date | date : format : timezone}}</p>
				</div>
				<div class="panel-body">
					<img class="img-home well" ng-if="!ad.imageDataUrl" src="http://spasitelbg.com/uploads/no_img.jpg">
					<img class="img-home well" ng-if="ad.imageDataUrl" ng-src="{{ad.imageDataUrl}}">
					<div class="well ad-info">
						<p>{{ad.text}}</p>
						<p>Category : {{ad.categoryName}}</p>
						<p>Town : {{ad.townName}}</p>
					</div>
					<div class="ad-button text-center" ng-hide="ad.status.indexOf('Inactive') > -1">
						<strong>Status:</strong>
						<p>{{ad.status}}</p>
						<a class="btn btn-primary" ng-click="deactivate(ad.id)">Deactivate</a>
					</div>
					<div class="ad-button text-center" ng-hide="ad.status.indexOf('Inactive') <= -1">
						<strong>Status:</strong>
						<p>{{ad.status}}</p>
						<div class="btn-group-vertical">
							<a href="#/user/ads/edit/{{ad.id}}" class="btn btn-primary">Edit</a>
							<a class="btn btn-primary" ng-click="publishAgain(ad.id)">Publish Again</a>
							<a href="#/user/ads/delete/{{ad.id}}" class="btn btn-primary">Delete</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="text-center">
			<pagination total-items="ads.numItems" ng-model="adsParams.startPage"
			  items-per-page="adsParams.pageSize" ng-change="reloadAds()"
			  max-size="9" boundary-links="true">
			</pagination>
		</nav>
	</div>
</div>